@import "tailwindcss";

@theme {
  --color-slate-950: #020617;
}

/* 1. Esto activa la variante 'dark' basada en la clase que pones con React */
@custom-variant dark (&:where(.dark, .dark *));

/* 2. Estilos base para el modo claro y oscuro */
:root {
  background-color: #f8fafc; /* bg-slate-50 */
  color: #0f172a; /* text-slate-900 */
}

.dark {
  background-color: #020617; /* bg-slate-950 */
  color: #f1f5f9; /* text-slate-100 */
}

/* 3. Forzar que las tarjetas (Cards) cambien de color */
/* Esto es lo que hará que el Dashboard se vea profesional */
.dark .bg-white {
  background-color: #0f172a !important; /* bg-slate-900 */
  border-color: #1e293b !important; /* border-slate-800 */
}

.dark .text-slate-900 {
  color: #ffffff !important;
}

.dark .text-slate-500 {
  color: #94a3b8 !important; /* text-slate-400 */
}

/* Scrollbar */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full;
}
.dark .custom-scroll::-webkit-scrollbar-thumb {
  @apply bg-slate-800;
}